.navbar {
	border-radius: 0;
}
.navbar .balance-sum {
	vertical-align: middle;
	color: #fff;
    font-size: 15px;
    margin: 0 0 0 5px;
    font-weight: bold;
}
.navbar .glyphicon-ruble {
	top: 0;
    font-size: 12px;
}
.navbar .balance-title {
	vertical-align: middle;
}
.navbar .glyphicon-bell{
	vertical-align: middle;
    font-size: 20px;
}
.navbar .help {
	display: inline-block;
    width: 20px;
    height: 20px;
	background-image: url('../images/ic-help-outline-24-px-copy-3.png');
}
.navbar .notification {
	background-repeat: no-repeat;
	display: inline-block;
    width: 20px;
    height: 20px;
	background-image: url('../images/ic-notifications-black-24-px@2x.svg');
}